<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div align="center">
            <h1>Upload Media</h1>

            <form method="post" th:action="@{/upload}"
                  modelAttribute="uploadForm" enctype="multipart/form-data">

                <table id="fileTable">
                    <tr>
                        <td>
                            <br>
                            Language: <input type="text" name="language[0]">
                            Genre: <input type="text" name="genre[0]">
                            <INPUT TYPE="radio" NAME="radios[0]" VALUE="videos"> video
                            <INPUT TYPE="radio" NAME="radios[0]" VALUE="movies"> movie
                            <INPUT TYPE="radio" NAME="radios[0]" VALUE="audios"> audio
                            <INPUT TYPE="radio" NAME="radios[0]" VALUE="tv"> tv
                            <input name="files[0]" type="file" />
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Language: <input type="text" name="language[1]">
                            Genre: <input type="text" name="genre[1]">
                            <INPUT TYPE="radio" NAME="radios[1]" VALUE="videos"> video
                            <INPUT TYPE="radio" NAME="radios[1]" VALUE="movies"> movie
                            <INPUT TYPE="radio" NAME="radios[1]" VALUE="audios"> audio
                            <INPUT TYPE="radio" NAME="radios[1]" VALUE="tv"> tv
                            <input name="files[1]" type="file" />
                        </td>
                    </tr>
                </table>
                <br>
                <input type="submit" value="Upload" />
                <input id="addFile" type="button" value="Add File" />
            </form>
            <br />
        </div>
    </div>
    <div id="analytics" class="tab-pane fade">
        <h3>TBD</h3>
        <p>Tyring to get some analytics data</p>
    </div>
</div>